<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatStrings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48D726951BE40C5F00F62825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D726AE1BE40C6000F62825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D726B91BE40C6000F62825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
